@font-face {
    font-family: 'roboto';
    src: url(./Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    place-items: center;
    padding: 1rem;
    box-shadow: .5rem .5rem .5rem grey;
}

header h1 {
    text-align: center
}

header ul {
    display: flex;
    list-style: none;
    gap: .5rem;
}

header ul.marks {
    font-size: 1.5rem;
    gap: 2rem;
}

header li {
    display: flex; 
    background-color: rgb(200, 200, 200);
    padding: .25rem;
    border: 1px solid black;
    gap: .25rem;
}

header .marks li {
    height: 2.5rem;
    width: 2.5rem;  
    display: grid;
    place-items: center;
}

header li p {
    text-align: center;
    align-self: center;
}

header li img {
    height: 1.5rem;
    align-self: center;
}

main {
    flex: 1;
    padding: 1rem;
    display: grid;
    place-items: center;
}

main #game-container {
    display: flex;
    flex-direction: column;
    background-image: url('./img/tic-tac-toe-grid.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

main .game-row {
    display: flex;
}

main .game-cell {
    font-size: 5rem;
    height: 6rem;
    width: 6rem;
    text-align: center;
}

footer {
    display: grid;
    place-items: center;
    border-top: 2px solid black;
    padding: .5rem;
    background-color: rgb(200, 200, 200);
}

.selected {
    border: 2px solid black;
    box-shadow: .25rem .25rem .25rem grey;
    background-color: rgb(150, 150, 255);
}